<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="layout :: htmlhead"></head>
<body>
	<div class="container">
		<nav th:replace="layout :: menu">(menu)</nav>
		<a href="form.html" th:href="@{/realizarRevisao/novo}"
			class="btn btn-primary btn-lg" role="button">Novo</a>
		<table class="table" id="realizarRevisao">
			<thead>
				<tr>
					<td>Revisor</td>
					<td>Livros</td>
					<td>Comentários</td>
					<td>Data</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="umrealizarRevisao : ${realizarRevisao}">
					<td th:if = "${umrealizarRevisao.revisor} != null "  th:text="${umrealizarRevisao.revisor.nome}"></td>
					<td th:text="${umrealizarRevisao.livros.nome}"></td>
					<td th:text="${umrealizarRevisao.comentarios}"></td>
					<td th:text="${umrealizarRevisao.data}"></td>
					<td><a
						th:href="@{'/realizarRevisao/alterar/' + ${umrealizarRevisao.id}}"
						class="btn btn-primary btn-lg">Alterar</a>
						<button class='btn btn-danger btn-lg js-delete'
							th:data-customer-id="${umrealizarRevisao.id}">
							<span class="oi oi-bug"></span>Excluir
						</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:include="layout :: footer" id="footer">(footer)</div>
	<script type="text/javascript"> 
			$(document).ready(function(){
				$("#realizarRevisao").on("click", ".js-delete", function(){
					var button = $(this);
					bootbox.confirm("Você tem certeza que quer excluir esta revisão?",function(result){
						if(result){
							$.ajax({
		                        url: "/realizarRevisao/delete/" + button.attr("data-customer-id"),
		                        method: "GET",
		                        success: function () {
		                        	window.location.href = "/realizarRevisao/"
		                        }
		                    });
						}
					});
				});
			}); 
		</script>
</body>
</html>