<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:include="layout :: htmlhead"></head>
<body>
	<div class="container">
		<nav th:replace="layout :: menu">(menu)</nav>
		<a href="form.html" th:href="@{/itens/novo}"
			class="btn btn-primary btn-lg" role="button">Novo</a>
		<table class="table" id = "itens">
			<thead>
				<tr>
					<td>Livro</td>
					<td>Valor</td>										
				</tr>
			</thead>
			<tbody>
				<tr th:each="umitens : ${itens}">
					<td th:text="${umitens.valor}"></td>
					<td th:text="${umitens.livros.nome}"></td>					
					<td><a th:href="@{'/itens/alterar/' + ${umitens.id}}"
						class="btn btn-primary btn-lg">Alterar</a>						 
						<button class='btn btn-danger btn-lg js-delete'
							th:data-customer-id="${umitens.id}">
							<span class="oi oi-bug"></span>Excluir
						</button></td>
				</tr>
			</tbody>
		</table>
	</div>
	<div th:include="layout :: footer" id="footer">(footer)</div>
	<script type="text/javascript"> 
			$(document).ready(function(){
				$("#itens").on("click", ".js-delete", function(){
					var button = $(this);
					bootbox.confirm("Você tem certeza que quer excluir este item?",function(result){
						if(result){
							$.ajax({
		                        url: "/itens/delete/" + button.attr("data-customer-id"),
		                        method: "GET",
		                        success: function () {
		                        	window.location.href = "/itens/"
		                        }
		                    });
						}
					});
				});
			}); 
		</script>
</body>
</html>